.Dumas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: 75%;
    background-color: antiquewhite;
}

* {
    text-align: center;
}

ul {
    display: table;
    margin: 0 auto;
    list-style-type: none;
}

button {
    background: antiquewhite;
    color: black;
    font-weight: bold;
}

body {
    background-color: aliceblue;
}